.header-spacer {
    height: var(--header-height);
    background-color: var(--color-background-content);
}

.content {
    background-color: var(--color-background-content);

    display: flex;
    min-height: 90vh;
    padding-left: var(--content-padding-size);
    padding-right: var(--content-padding-size);
}