@font-face {
    font-family: "EduVICWANTBeginner";
    src: url(./assets/fonts/EduVICWANTBeginner/EduVICWANTBeginner-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

:root {
    --recipe-font: "EduVICWANTBeginner", "Intern";
    --general-font: "Roboto", "Intern";
}

body {
    font-family: var(--general-font);
}