@font-face {
    font-family: "EduVICWANTBeginner";
    src: url(./assets/fonts/EduVICWANTBeginner/EduVICWANTBeginner-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

:root {
    /* General */
    --recipe-font: "EduVICWANTBeginner", "Intern";
    --general-font: "Roboto", "Intern";

    --color-yellow-100: #d8d850;
    --color-yellow-75: #dddd00;

    --color-foreground-main: #101010;
    --color-background-main: #e0e0e0;

    --content-buffer-size: 5%;

    /* Footer */
    --footer-url-color: #fafafa;
    --footer-url-color-hover: #d0d0d0;

    --footer-background-color: #707070;
    --footer-primary-color: #555555;

    /* Header */
    --header-height: 75px;
}

html {
    background-color: var(--color-background-main);
    color: var(--color-foreground-main);
}

body {
    font-family: var(--general-font);
    padding-left: var(--content-buffer-size);
    padding-right: var(--content-buffer-size);
    margin-right: 0px;
    margin-left: 0px;
}